name: Deploy to Koyeb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Koyeb CLI
        run: |
          curl -fsSL https://cli.koyeb.com/install.sh | sh
          echo "$HOME/.koyeb/bin" >> $GITHUB_PATH

      - name: Login to Koyeb
        run: koyeb login --token ${{ secrets.KOYEB_API_TOKEN }}

      - name: Deploy to Koyeb
        run: koyeb service redeploy excess-tern/modul-1-coding-standards